body {
    margin: 0;
    padding: 25px;
    height:100vw;
    
  }
  
  
  .box-1     {
    width: 100%;
    border: 5px solid black;
    padding: 10px;
   
    
  }
  
 .Purple-rect {
    height: 150px;
    width: 50px;
    background-color: purple;
    display:inline-block;}
  
  .Green-square
  {
    height: 200px;
    width: 400px;
    display: inline-block;
    background-color: forestgreen;
    margin: 0 50px;
  }
  .blue-circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(110, 179, 206);
    display: inline-block;
  }
  
  .box-two {
    width: 100%;
    border: 5px dotted black;
    padding: 50px;
    box-sizing:   ;
    margin-top: 25px; 
  }
  
  .shade {
    width: 100%;
    height: 200px;
    background-color: rgb(233, 227, 171);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  
  .box-three {
    width: 50%;
    border: 1px solid #ccc;
    background-color: white;
    padding: 100px;
   
    margin: 25px auto; 
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  }
  
  .box-three p {
    width: 100%;   
    text-align: center;
    color: navy;
    
    letter-spacing: 10px;
    
  }